<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Research Piece</title>
</head>
<body>

<!--/*@thymesVar id="research" type="com.example.cloudread.JAXBmodel.ResearchPieceDTO"*/-->
<div class="container" th:object="${research}">
    <div class="row justify-content-start">
        <div class="col">
            <h1 th:if="${!research.title.isBlank()}" th:text="${research.title}"></h1>
            <h1 th:unless="${!research.title.isBlank()}" th:text="${'(No title on file)'}"></h1>
        </div>
        <br>
    </div>

    <div class="row justify-content-start">
        <div class="col-2">
            <label><b>Title:</b> </label>
        </div>
        <div class="col-10">
            <textarea type="text" class="form-control bg-light rounded" rows="1" th:field="*{title}" readonly></textarea>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-2">
            <label><b>Keyword:</b> </label>
        </div>
        <div class="col-10">
            <textarea type="text" class="form-control bg-light rounded" rows="1" th:field="*{keyword}" readonly></textarea>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-2">
            <label><b>Standfirst rationale:</b> </label>
        </div>
        <div class="col-10">
            <textarea class="form-control bg-light rounded" rows="2" th:field="*{standfirstDTO.rationale}" readonly></textarea>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-2">
            <label><b>Standfirst approach:</b> </label>
        </div>
        <div class="col-10">
            <textarea class="form-control bg-light rounded" rows="2" th:field="*{standfirstDTO.approach}" readonly></textarea>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-2">
            <label><b>Purpose:</b> </label>
        </div>
        <div class="col-10">
            <textarea class="form-control bg-light rounded" rows="2" th:field="*{researchPurpose}" readonly></textarea>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-2">
            <label><b>Current status:</b> </label>
        </div>
        <div class="col-10">
            <textarea class="form-control bg-light rounded" rows="2" th:field="*{currentProgress}" readonly></textarea>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-2">
            <label><b>Future work:</b> </label>
        </div>
        <div class="col-10">
            <textarea class="form-control bg-light rounded" rows="2" th:field="*{futureWork}" readonly></textarea>
        </div>
    </div>
    <hr/>

    <div>
        <div class="row justify-content-start">
            <div class="col">
                <h3>Key results</h3>
            </div>
        </div>

        <br>
        <span th:if="${research.getKeyResultDTOList().getKeyResultDTO().isEmpty()}">
            <div class="row justify-content-start">
                <div class="col">
                    <p>No key results on file</p>
                </div>
            </div>
        </span>

        <span th:unless="${research.getKeyResultDTOList().getKeyResultDTO().isEmpty()}">
            <!--/*@thymesVar id="result" type="com.example.cloudread.JAXBmodel.KeyResultDTO"*/-->
                <div class="row justify-content-start" th:each="result: ${research.getKeyResultDTOList().getKeyResultDTO()}">
                    <div class="col col-sm-3 col-md-2 col-lg-1">
                        <label th:text="${'Priority: ' + result.getId()}"></label>
                    </div>
                    <div class="col col-sm-8 col-md-9 col-lg-10">
                        <textarea class="form-control bg-light rounded" name="description" rows="3"
                                  th:text="${result.getDescription()}" readonly></textarea>
                    </div>
                </div>
                <br>
        </span>
    </div>
    <hr/>

    <div class="row justify-content-start">
        <div class="col">
            <h3>References</h3>
        </div>
    </div>
    <br>
    <span th:if="${research.getCitationDTOList() == null || research.getCitationDTOList().getCitationDTO().isEmpty()}">
        <div class="row justify-content-start">
            <div class="col">
                <p>No citations or references on file</p>
            </div>
        </div>
    </span>
    <span th:unless="${research.getCitationDTOList() == null || research.getCitationDTOList().getCitationDTO().isEmpty()}">
        <!--/*@thymesVar id="reference" type="com.example.cloudread.JAXBmodel.CitationDTO"*/-->
            <div class="row justify-content-start" th:each="reference: ${research.getCitationDTOList().getCitationDTO()}">
                <div class="col">
                    <textarea name="ref" class="form-control bg-light rounded" rows="1"
                              th:text="${reference.getReference()}" readonly></textarea>
                </div>
            </div>
            <br>
    </span>
    <hr/>
    <a class="btn btn-outline-primary" type="button" th:href="@{/research/file}">Return to filed index</a>
</div>
<br>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>