<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>CloudRead index</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-start">
        <div class="col">
            <h1>CloudRead</h1>
        </div>
    </div>

    <div class="row justify-content-start">
        <div class="col">
            <h3>Fundamental articles</h3>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-6">
            <a class="btn btn-outline-primary" type="button" th:href="@{/fundamentals/file}">List fundamentals on file</a>
            <small class="form-text text-light">Select this option if the database is currently offline</small>
        </div>
        <div class="col-6">
            <a class="btn btn-outline-primary" type="button" th:href="@{/fundamentals/DB}">Retrieve fundamentals</a>
            <small class="form-text text-light">Retrieve a list of fundamental pieces from the database and save to file</small>
        </div>
    </div>
    <hr />

    <div class="row justify-content-start">
        <div class="col">
            <h3>Research articles</h3>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-6">
            <a class="btn btn-outline-secondary" type="button" th:href="@{/research/file}">List research articles on file</a>
            <small class="form-text text-light">Select this option if the database is currently offline</small>
        </div>
        <div class="col-6">
            <a class="btn btn-outline-secondary" type="button" th:href="@{/research/DB}">Retrieve research articles</a>
            <small class="form-text text-light">Retrieve a list of research pieces from the database and save to file</small>
        </div>
    </div>
    <br>

    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <span th:object="${message}">
        <div class="row justify-content-start" th:if="${message != null}">
            <div class="col">
                <p th:style="${'color:red;'}" th:text="${message}"></p>
            </div>
        </div>
        <br>
    </span>

</div>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>