<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>CloudRead index</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-start">
        <div class="col">
            <h1>CloudRead</h1>
            <p>Choose one of the options below to view available pieces/articles on file</p>
        </div>
    </div>

</div>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>